<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OutputVideoRootPath" value="C:\_videoBlurring\output"/>
    <add key="InputVideoRootPath" value="C:\_videoBlurring\data"/>
    <add key="HaarcascadeRootPath" value="C:\_videoBlurring\opencv\sources\data\haarcascades"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
